{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All vs All</title>

    <link rel="stylesheet" type="text/css" href="/includes/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/includes/css/site.css">
    <!-- front page specific -->
    {{ template "styles" . }}
</head>
<header>
   
    <div class="ui borderless fixed menu">
    {{ template "menu" . }}
    <div class="right menu">
            <a class="ui item">
                <a class="ui purple button" href="/login">Sign-up / Login</button>
            </a>
            <a class="ui item">
                <i class="facebook square icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
</header>
<body>
    <div class="pusher">
    
        <div id="content" class="ui container">
        {{ template "content" . }}
            <!-- footer -->


        </div>    

        <div class="ui vertical footer segment container">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <p class="copy-year">
                            <i class="copyright outline icon"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <!-- javascript includes -->
    <script src="/includes/js/jquery-3.3.1.min.js"></script>
    <script src="/includes/semantic/dist/semantic.min.js"></script>
    {{ template "js" . }}
    <script src="/includes/js/main.js"></script> 
    
</body>
</html>
{{ end }}