{{ define "styles"}}
{{ end }} 

{{ define "js" }} 
{{ end }} 

{{ define "content" }}
<div class="ui one column centered grid">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    Overview
                </div>
            </h2>
            <div class="ui inverted three statistics">
                    <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Completed Tournament
                    </div>
                    </div>
                    <div class="statistic">
                    <div class="value">
                        31,200
                    </div>
                    <div class="label">
                        Upcoming Tournament (within 30 days)
                    </div>
                    </div>
                    <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Points
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{{ end }}