{{ define "styles"}}
{{ end }}

{{ define "js" }} 
{{ end }}

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}



{{ define "content" }}
    <div class="ui one column centered grid">
        <div class="column">
            <div class="ui icon message">
                <i class="times icon"></i>
                <div class="content">
                    <div class="header">
                        Page requires you to be logged in.
                    </div>
                    <p>Please log-in to see this page.<a href="/login"> Click here to login.</a></p>
                </div>
            </div>
            <img class="ui centered large image" src="/includes/images/errors/401.jpg">
        </div>

    </div>
{{ end }}