input::-webkit-input-placeholder {
	color: #000000 !important;
}
	 
input:-moz-placeholder { /* Firefox 18- */
	color: #000000 !important;  
}
	 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #000000 !important;  
}
	 
input:-ms-input-placeholder {  
	color: #000000 !important;  
}

input, select, textarea{
	color: #000000 !important;
}
/** HTML styles **/

html {
	/* background: #000000;  fallback for old browsers */
	position: relative;
	min-height: 100%;
}

body {
	/* color: #bebebe !important; */
	/* background-color: transparent !important; */
}



/** Class styles **/

.ui#content{
	padding-top: 55px;
}


.pusher {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
  
.pusher > .footer {
	flex: 1;
}


  
/** Stripe Elements **/
.StripeElement {
	background-color: #bebebe;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}