{{ define "styles"}}
{{ end }} 

{{ define "js" }} 
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="active item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}


{{ define "content" }}
<div class="ui one column centered grid">
    <div class="column">
        <img class="ui centered medium image" src="/includes/images/ava_grey_logo.png">
    </div>
</div>

<div class="ui one column centered grid">
    <div class="column">
        <h2 class="ui header">
            <i class="info icon"></i>
            <div class="content">
                About Us
            </div>
        </h2>
        <p>
            Bacon ipsum dolor amet venison salami meatball, beef ribs chicken chuck porchetta drumstick. Short ribs ham turkey frankfurter
            beef ribs chuck pancetta, flank capicola landjaeger doner pork loin ball tip. Tenderloin venison flank kielbasa
            spare ribs ground round picanha corned beef. Salami jowl bresaola, sausage ham picanha boudin kielbasa tail fatback
            doner tongue meatball.
        </p>
    </div>
</div>

</div>
{{ end }}