{{ define "styles"}}
<link rel="stylesheet" type="text/css" href="/includes/js/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/includes/js/slick/slick-theme.css"> 
{{ end }} 

{{ define "js" }}
<script src="/includes/js/slick/slick.min.js"></script>
<script src="/includes/js/main.js"></script> 
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }} 

{{ define "content" }}

<!-- Slider Images -->
    <div class="ui two column centered">
        <div class="column slider-images">
            <div>
                <img src="/includes/images/slider/slider_1.png">
            </div>
            <div>
                <img src="/includes/images/slider/slider_2.png">
            </div>
            <div>
                <img src="/includes/images/slider/slider_3.png">
            </div>
        </div>
    </div>

    <div class="ui huge header">Upcoming Tournaments</div>
    <div class="ui clearing divider"></div>

    <!-- Upcoming Tournament Content -->
    <div class="ui stackable two column centered grid">
        <div class="column">
            <img src="/includes/images/t/logo1.png">
        </div>
        <div class="column">
            <h2 class="ui header">Sub Only Grappling Championships</h2>
            <p>Doggo ipsum porgo borkf lotsa pats noodle horse, he made many woofs. Extremely cuuuuuute boof big ol pupper shoober,
                heckin good boys I am bekom fat. Bork h*ck long water shoob pats, the neighborhood pupper. Borking doggo
                fat boi doggo pupperino shoober dat tungg tho, what a nice floof pupperino fat boi maximum borkdrive, woofer
                vvv stop it fren borkdrive. Stop it fren borkdrive h*ck long woofer pupper you are doing me the shock, mlem
                he made many woofs heckin angery woofer h*ck puggorino, corgo shoob very jealous pupper borkf.
            </p>

            <p>
                <strong>Location:</strong>
            </p>
            <p>
                <strong>Address:</strong>
            </p>
            <button class="ui primary button">
                <i class="user plus icon"></i>Register Now</button>
            <button class="ui inverted green button">
                <i class="calendar alternate outline icon"></i>Schedule of Events</button>
            <button class="ui inverted orange button">
                <i class="exclamation icon"></i>Rules and Regulations</button>
        </div>
    </div>

    <div class="ui stackable two column centered grid">
        <div class="column">
            <img src="/includes/images/t/logo2.png">
        </div>
        <div class="column">
            <h2 class="ui header">Combat Fall Classic</h2>
            <p>Doggo ipsum porgo borkf lotsa pats noodle horse, he made many woofs. Extremely cuuuuuute boof big ol pupper shoober,
                heckin good boys I am bekom fat. Bork h*ck long water shoob pats, the neighborhood pupper. Borking doggo
                fat boi doggo pupperino shoober dat tungg tho, what a nice floof pupperino fat boi maximum borkdrive, woofer
                vvv stop it fren borkdrive. Stop it fren borkdrive h*ck long woofer pupper you are doing me the shock, mlem
                he made many woofs heckin angery woofer h*ck puggorino, corgo shoob very jealous pupper borkf.
            </p>

            <p>
                <strong>Location:</strong>
            </p>
            <p>
                <strong>Address:</strong>
            </p>
            <button class="ui primary button">
                <i class="user plus icon"></i>Register Now</button>
            <button class="ui inverted green button">
                <i class="calendar alternate outline icon"></i>Schedule of Events</button>
            <button class="ui inverted orange button">
                <i class="exclamation icon"></i>Rules and Regulations</button>
        </div>
    </div>

    <!-- Past Tournaments -->
    <div class="ui huge header">Past Tournaments</div>
    <div class="ui clearing divider"></div>

    <!-- Past Not Disabled Tournaments -->
    <div class="ui stackable two column centered grid">
        <div class="column">
            <img src="/includes/images/t/logo2.png">
        </div>
        <div class="column">
            <h2 class="ui header">Combat Fall Classic</h2>
            <p>Doggo ipsum porgo borkf lotsa pats noodle horse, he made many woofs. Extremely cuuuuuute boof big ol pupper shoober,
                heckin good boys I am bekom fat. Bork h*ck long water shoob pats, the neighborhood pupper. Borking doggo
                fat boi doggo pupperino shoober dat tungg tho, what a nice floof pupperino fat boi maximum borkdrive, woofer
                vvv stop it fren borkdrive. Stop it fren borkdrive h*ck long woofer pupper you are doing me the shock, mlem
                he made many woofs heckin angery woofer h*ck puggorino, corgo shoob very jealous pupper borkf.
            </p>

            <p>
                <strong>Location:</strong>
            </p>
            <p>
                <strong>Address:</strong>
            </p>
            <button class="ui primary button">
                <i class="trophy icon"></i>Results</button>

        </div>
    </div>
{{ end }}