{{ define "styles"}}
{{ end }} 

{{ define "js" }} 
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}


{{ define "content" }}
<div class="ui one column centered grid">
    <div class="column">
        <div class="ui icon message">
            <i class="sign out alternate icon"></i>
            <div class="content">
                <div class="header">
                    Come back soon!
                </div>
                <p>You have been logged out.</p>
            </div>
        </div>
    </div>
</div>

</div>
{{ end }}