{{ define "styles"}}
    <link rel="stylesheet" type="text/css" href="/includes/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/includes/node_modules/semantic-ui-calendar/dist/calendar.min.css">
{{ end }} 

{{ define "js" }}
    <script src="/includes/js/signUpForm.js"></script>
    <script src="/includes/node_modules/semantic-ui-calendar/dist/calendar.min.js"></script>
{{ end }} 

{{ define "menu"}}
<!-- Menu - Active links specific -->
    <a class="active item" href="/">Home</a>
    <a class="item" href="/sponsors">Sponsors</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/contact">Contact</a>
{{ end }}


{{ define "content" }}

<div class="ui one column centered grid">
    <div class="column">
        <img class="ui centered medium image" src="/includes/images/ava_grey_logo.png">
    </div>
    <div class="column">
        <h2 class="ui header">
            <i class="info icon"></i>
            <div class="content">
                Create an account
                <div class="sub header"><span class="subText"> Create an account to manage tournament registrations.</span></div>
            </div>
        </h2>
    </div>

    <div class="column">
        {{ if . }}
            <div class="ui red segment inverted">
                {{ range . }}
                    <li>{{.}}</li>
                {{ end }}
            </div>
        {{ end }}
    </div>

    <div class="column">
        <form class="ui form" method="POST" action="/sign-up">
            <div class="ui form inverted segment">
                <div class="two fields">
                    <div class="required field">
                        <label for="GivenName">Given Name</label>
                        <input id="GivenName" name="Profile.GivenName" placeholder="Given Name" type="text" />
                    </div>

                    <div class="required field">
                        <label for="Surname">Surname</label>
                        <input id="Surname" name="Profile.Surname" placeholder="Surname" type="text">
                    </div>
                </div>
                
                <div class="two fields">
                    <div class="required field">
                        <label for="Email">Email</label>
                        <input id="Email" name="Email" placeholder="Email" type="text">
                    </div>
                
                    <div class="required field">
                        <label for="EmailConfirm">Email Confirm</label>
                        <input id="EmailConfirm" name="EmailConfirm" placeholder="Email again" type="text">
                    </div>
                </div>
                
                <div class="two fields">
                    <div class="field">
                        <label for="Team">Team</label>
                        <input id="Team" name="Profile.Team" type="text">
                    </div>
                    <div class="field">
                        <label for="Instructor">Instructor</label>
                        <input id="Instructor" name="Profile.Instructor" type="text">
                    </div>
                </div>
                
                <div class="two fields">
                    <div class="required field ui calendar" id="DateOfBirthSelector">
                        <label for="DateOfBirth">Date of Birth</label>
                        <input id="DateOfBirth" name="Profile.DateOfBirth" type="text">
                    </div>
                </div>
       
                <div class="required field">
                    <label for="Password">Password</label>
                    <input id="Password" name="Password" type="password">
                </div>

                <div class="required field">
                    <label for="PasswordConfirm">Password Confirm</label>
                    <input id="PasswordConfirm" name="PasswordConfirm" type="password">
                </div>

                <button class="ui blue button" id="SubmitButton">Submit</button>
                <div class="ui error message"></div>
            </div>
        </form>
    </div>
</div>
</div>
{{ end }}